.hero-section {
    display: flex;
    height: 100vh;
    background-image: url('../../../assets/hero-shape1.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top;
}