@mixin snowflake($top, $left, $size, $property) {
    content: '';
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    background-image: url('../../../assets/snowflake.svg');
    background-position: top right;
    background-size: $size;
    background-repeat: no-repeat;
    top: $top;
    $property: $left;
    @media(max-width: 730px) {
        display: none;
    }
}

.feature-container {
    width: 100%;
    display: flex;
    padding-bottom: 4rem;
    position: relative;
    &:nth-child(1):after {
        @include snowflake(-315px,
        10px,
        10rem,
        left);
    }
    &:nth-child(2):after {
        @include snowflake(-150px,
        10px,
        10rem,
        right);
    }
    &:nth-child(2n) {
        justify-content: flex-end;
        @media(max-width: 450px) {
            justify-content: unset;
        }
    }
    .feature-content {
        background-color: #fff;
        border-radius: 15px;
        width: 45%;
        min-width: 260px;
        box-shadow: 2px 2px 15px 5px rgba(176, 177, 177, 0.2);
        padding: 3rem 3.4rem 3rem 3rem;
    }
}