.create-goal-form {
    max-width: 500px;
    margin: 0 auto;
    p {
        color: #bf1650;
        &::before {
            display: inline;
            content: "⚠";
        }
    }
    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 4px;
        border: 1px solid white;
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 14px;
        background-color: blue;
    }
    label {
        line-height: 2;
        text-align: left;
        display: block;
        margin-bottom: 13px;
        margin-top: 20px;
        color: white;
        font-size: 14px;
        font-weight: 200;
        color: rgb(175, 175, 184);
    }
    input[type="submit"] {
        background: #716f6f;
        color: white;
        text-transform: uppercase;
        border: none;
        margin-top: 40px;
        padding: 20px;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 10px;
    }
}