.dashboard {
    display: flex;
    flex-direction: column;
}

.row+.row {
    margin-top: 10px;
}

.dashboard-first-row {
    display: flex;
    justify-content: space-between;
    .dashboard-left-panel {
        width: 59%;
        border: 2px solid red;
    }
    .dashboard-right-panel {
        width: 40%;
        border: 2px solid green;
    }
}

.dashboard-second-row {
    display: flex;
    justify-content: space-between;
    .dashboard-left-panel {
        width: 28%;
        border: 2px solid red;
        .achievements {
            padding: 30px 20px;
            background: linear-gradient( 90deg, rgb(185, 118, 64), 40%, rgb(255, 232, 189));
            h3 {
                margin: 0;
            }
            .icon {
                min-width: 30%;
                border-radius: 50%;
                display: inline-block;
                border: 1px solid black;
                img {
                    width: 30%;
                    height: 30%;
                    width: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
    .dashboard-right-panel {
        width: 70%;
        border: 2px solid green;
        .christmas-event {
            position: relative;
            width: 100%;
            height: 100%;
            background-image: url("../../assets/christmas-event.svg");
            background-position: center center;
            .text {
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(50%);
                width: 300px;
                height: 200px;
                background-color: green;
            }
        }
    }
}

.filters-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .btn {
        width: 24%;
        min-width: 160px;
        height: 95px;
    }
    .btn.done {
        background: rgb(79, 209, 197);
        background: linear-gradient( 90deg, rgba(79, 209, 197, 1) 0%, rgba(40, 184, 100, 1) 89%);
    }
    .btn.all {
        background: rgb(99, 179, 237);
        background: linear-gradient( 90deg, rgba(99, 179, 237, 1) 0%, rgba(49, 130, 206, 1) 89%);
    }
    .btn.create-new {
        background: rgb(229, 235, 240);
        background: linear-gradient( 90deg, rgba(229, 235, 240, 1) 0%, rgba(219, 220, 221, 1) 89%);
    }
    .btn.in-progress {
        background: rgb(251, 232, 116);
        background: linear-gradient( 90deg, rgba(251, 232, 116, 1) 0%, rgba(214, 158, 46, 1) 89%);
    }
}

.goals-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .goal {
        width: 15%;
    }
}

.friends-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .friend-card {
        width: 27%;
        min-width: 100px;
        border: 1px solid black;
        padding: 20px 10px;
        &-header {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .user-image {
            min-width: 70px;
            max-width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px solid #242553;
            padding: 1px;
            margin-right: 5px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}