.dashboard {
  display: flex;
  flex-direction: column;
}

.row + .row {
  margin-top: 10px;
}

.dashboard-first-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  padding: 15px;
  border-radius: 10px;

  .dashboard-left-panel {
    width: 80%;
    margin: 0 auto;
    @media(max-width: 800px){
      width: 100%;
    }
  }
  .dashboard-right-panel {
    width: 40%;
    border: 2px solid green;
    padding: 15px;
  }
  .filters-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .btn {
      width: 24%;
      min-width: 100px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    .btn.done {
      background: rgb(79, 209, 197);
      background: linear-gradient(
        90deg,
        rgba(79, 209, 197, 1) 0%,
        rgba(40, 184, 100, 1) 89%
      );
    }
    .btn.all {
      background: rgb(99, 179, 237);
      background: linear-gradient(
        90deg,
        rgba(99, 179, 237, 1) 0%,
        rgba(49, 130, 206, 1) 89%
      );
    }
    .btn.create-new {
      background: rgb(0, 77, 90);
      background: linear-gradient(
        90deg,
        rgb(0, 165, 194) 0%,
        rgb(27, 131, 150) 89%
      );
    }
    .btn.in-progress {
      background: rgb(251, 232, 116);
      background: linear-gradient(
        90deg,
        rgba(251, 232, 116, 1) 0%,
        rgba(214, 158, 46, 1) 89%
      );
    }
  }
  .filter-by-category {
    margin: 20px 0;
  }
  .paginate-panel {
    text-align: center;
    display: flex;
    justify-content: center;
    .previous,
    .next {
      cursor: pointer;
      font-size: 40px;
      margin: 0 30px;
    }
    .current {
      display: flex;
      align-items: center;
    }
  }
}

.goals-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .goal {
    width: 15%;
  }
}

.friends-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .friend-card {
    width: 27%;
    min-width: 100px;
    border: 1px solid black;
    padding: 20px 10px;
    &-header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .user-image {
      min-width: 70px;
      max-width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid #242553;
      padding: 1px;
      margin-right: 5px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

.dashboard-second-row {
  display: flex;
  justify-content: space-between;
  h3 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
  }
  p {
    color: white;
  }
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: grey;
    }
  }
  .dashboard-left-panel {
    width: 28%;
    .achievements {
      padding: 30px 20px;
      background: linear-gradient(
        90deg,
        rgb(185, 118, 64),
        40%,
        rgb(255, 232, 189)
      );
      border-radius: 10px;
      .icon {
        min-width: 30%;
        border-radius: 50%;
        display: inline-block;
        img {
          width: 30%;
          height: 30%;
          width: 100%;
          border-radius: 50%;
        }
      }
      p {
        text-align: right;
      }
    }
  }
  .dashboard-right-panel {
    width: 70%;
    .christmas-event {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/christmas-event.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      border-radius: 10px;
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          text-align: center;
        }
      }
    }
  }
}
