.button{
    padding: 2rem 3rem;
    width: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.tracking-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    .tracking-goal-card{
        display: flex;
        width: 100%;
        justify-content: space-around;
        border: 1px solid grey;
        border-radius: 10px;
        margin-bottom: 2rem;
        @media(max-width: 700px){
            flex-direction: column;
            justify-content: center;
        }
        &:nth-child(even){
            background-color: #f6e8d8;
        }
       &:nth-child(odd){
            background-color: rgb(114, 189, 226);
        }
    .tracking-progress-bar {
        width: 25%;
        min-width: 150px;
        @media(max-width: 700px){
            order: 0;
        }
    }
    .tracking-goal-information{
        h4{
            font-size: 24px;
        }
        h4,span{
            color: #242553;
        }
        .update-goal{
            @extend .button;
        }
        .delete-goal{
            @extend .button;
        }
        @media(max-width: 700px){
            order: 1;
        }
    }
   
}
}